/* Overwrites of agency.css */

body {
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
	text-align: left;
	background-position: 75% center;
}

@media (min-width: 590px) {
	header {
	  background-attachment: scroll;
	  background-position: center center;
	}
}

section h3.section-subheading {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
}

.btn-xl {
	color: #000;
	border-color: #66ffcc;
	background-color: #66ffcc;
}

a {
  color: #66ffcc;
}
a:hover,
a:focus,
a:active,
a.active {
  color: #5debbc;
}

.btn-xl:hover, .btn-xl:focus, .btn-xl:active, .btn-xl.active, .open .dropdown-toggle.btn-xl {
    color: #000;
    background-color: #5debbc;
    border-color: #5debbc;
}

section .reduced-padding {
    padding: 60px 0;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
  color: #66ffcc;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #66ffcc;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
  color: #66ffcc;
}
.navbar-default .navbar-nav > .active > a {
  background-color: #66ffcc;
}
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: #66ffcc;
}

.navbar-default .navbar-toggle {
  background-color: #66ffcc;
  border-color: #66ffcc;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #66ffcc;
}

.text-primary {
	color: #000066;
}

section#contact {
	background-image: url('../img/wecanrent-register.jpg');
	background-size: 1200px;
}

/* Custom CSS */

.navbar-dark {
  background-color: #222;
}

.logo {
	height: 45px;
	margin-top: -17px;
}

.extra-spacing {
	margin-top: 70px;
}

.p-container {
	border: 3px solid #cacaca;
	border-radius: 12px;
	padding: 10px 20px;
	margin: 20px 40px 30px 40px;
}

.p-container h4.service-heading {
	font-size: 22px;
}

.p-container div.service-description {
	
}

.p-container h5.price {
	font-size: 22px;
}

.p-container h5.price span {
	font-size: 14px;
	display: block;
}

.p-container ul {
	list-style-type: none;
	padding: 0; 
	margin: 0px 0px 10px 0px;
}

.p-container li {
	margin: 0px 0px 10px 0px;
}

.p-container li.restricted-feature {
	color: #c9c9c9;
	text-decoration: line-through;
}

.btn-getstarted {
	font-size: 14px;
    padding: 10px 20px;
    margin: 0px 0px 10px 0px;
}

p.center-reduced-width {
	width: 90%;
	margin: 0 auto;
	padding-top: 10px;
}

@media (min-width: 992px) {
	p.center-reduced-width {
		width: 800px;
	    text-align: center;
	}
}

p.bold {
	font-weight: bold;
}

.icons {
	position: absolute;
    top: 28px;
    left: 33px;
    width: 53px;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.section-grey{
	background-color: #f1f1f1;
}