{% extends "base.html" %}

{% block content %}
<!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Find quality tenants that are ready to rent</div>
                <a href="#services" class="page-scroll btn btn-xl">What do we do?</a>
            </div>
        </div>
    </header>

    <!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">How we make landlords lives easier</h2>
                    <h3 class="section-subheading text-muted">
                        <p class="center-reduced-width bold">We’re different to all other high street and online letting agents.</p>

                        <p class="center-reduced-width">We check tenant references and credit reports before they’re invited to view your property. This means you can prioritise the most suitable tenants for viewings to avoid wasting time. </p>

                        <p class="center-reduced-width">When potential tenants attend the viewing, you’ll know they are ‘ready to rent’! Once you’ve chosen your perfect tenant, you can sign them up right away. This eliminates the time and cost wasted on enthusiastic, yet unsuitable renters.</p>
                    </h3>

                    <a href="#howitworks" class="page-scroll btn btn-xl">How it works</a>
                    
                </div>
            </div>
        </div>
    </section>

    <!-- How is works for landlords Section -->
    <section id="howitworks" class="section-grey reduced-padding">
        <div class="container">
            <div class="row text-center">
                <h2>How it works for landlords: </h2>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <img src="img/wecanrent-upload.svg" class="icons" alt="upload document by Gregor Črešnar from the Noun Project"/>
                    </span>
                    <h4 class="service-heading">1. Upload your property</h4>
                    <p class="text-muted">Upload your property details and choose your tenant preferences. We advertise your property on all the major portals including Rightmove and Zoopla. </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <img src="img/wecanrent-certification.svg" alt="Certificate by anbileru adaleru from the Noun Project"class="icons"/>
                    </span>
                    <h4 class="service-heading">2. Get pre-referenced tenants</h4>
                    <p class="text-muted">We speak to interested tenants and complete checks to ensure their suitability and affordability. We connect you with the best tenants.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <img src="img/wecanrent-tenant.svg" class="icons" alt="approve user by Wilson Joseph from the Noun Project"/>
                    </span>
                    <h4 class="service-heading">3. Pick your perfect tenant</h4>
                    <p class="text-muted">Show the property to your top tenants and pick the tenants you want. The tenant checks are already completed, so use our simple online platform to confirm the paperwork without delay.</p>
                </div>

                <a href="pricing.html" class="btn btn-xl extra-spacing">Plans &amp; pricing</a>
            </div>
        </div>
    </section>
{% endblock %}
