{% extends "base.html" %}

{% block content %}
    <!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Find Quality Tenants that are Ready to Rent with WeCanRent</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <div class="p-container p-basic">
                        <h4 class="service-heading">Basic</h4>
                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                        <h5 class="price">£30</h4>
                        <ul>
                            <li>Feature 1</li>
                            <li>Feature 2</li>
                            <li>Feature 3</li>
                        </ul>
                        <a href="getstarted.html?service=basic" class="btn btn-xl btn-getstarted">Get started</a>
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="p-container p-basic">
                        <h4 class="service-heading">Premium</h4>
                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                        <h5 class="price">£30</h4>
                        <ul>
                            <li>Feature 1</li>
                            <li>Feature 2</li>
                            <li>Feature 3</li>
                            <li>Feature 4</li>
                            <li>Feature 5</li>
                            <li>Feature 6</li>
                        </ul>
                        <a href="getstarted.html?service=premium" class="btn btn-xl btn-getstarted">Get started</a>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="p-container p-basic">
                        <h4 class="service-heading">Ultimate</h4>
                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                        <h5 class="price">£30</h4>
                        <ul>
                            <li>Feature 1</li>
                            <li>Feature 2</li>
                            <li>Feature 3</li>
                            <li>Feature 4</li>
                            <li>Feature 5</li>
                            <li>Feature 6</li>
                            <li>Feature 7</li>
                            <li>Feature 8</li>
                            <li>Feature 9</li>
                        </ul>
                        <a href="getstarted.html?service=ultimate" class="btn btn-xl btn-getstarted">Get started</a>
                    </div>
                </div>

            </div>
        </div>
    </section>

{% endblock %}
